.content-container {
  width: 100%;
  max-width: 1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 20px;
  box-sizing: border-box;

}

.content-container p {
  font-size: 1.1em;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
