.nav {
   font-family: "Hubot Sans", sans-serif;

}

.right-sidebar {
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }


}
