<router-outlet></router-outlet>

<div class="nav bg-[#2E2E48] w-full sm:w-[800px] h-[70px] absolute left-1/2 transform -translate-x-1/2 rounded-b-[30.82px] top-0 font-sans select-none">
  <ul class="list-none flex justify-between sm:justify-end items-center sm:mr-[50px] px-4 sm:px-0">
    <h1 class="logo absolute left-[80px] text-white font-[Sevillana] text-[28px] sm:text-[32px] font-thin cursor-pointer">Swiss</h1>
    <li class="text-white cursor-pointer py-[20px] px-[10px] hover:text-gray-400" routerLink="/home">Home</li>
    <li class="text-white cursor-pointer py-[20px] px-[10px] hover:text-gray-400" routerLink="/about">About Us</li>
    <li class="text-white cursor-pointer py-[20px] px-[10px] hover:text-gray-400" routerLink="/services">Services</li>
    <li class="text-white cursor-pointer py-[20px] px-[10px] hover:text-gray-400" routerLink="/carrer">Career</li>
  </ul>
</div>

<div class="left-sidebar bg-[#2E2E48] fixed left-0 top-0 w-[100px] sm:w-[100px] h-full shadow-[rgba(0,_0,_0,_0.35)_0px_5px_15px]">
</div>

<div class="right-sidebar bg-[#2E2E48] fixed right-0 top-0 w-[100px] sm:w-[100px] h-full shadow-[rgba(0,_0,_0,_0.35)_0px_5px_15px]">
</div>
