@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Sevillana&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;

}
