<div class="main-course flex flex-col lg:flex-row justify-center items-center bg-white p-6 shadow-lg w-full max-w-screen-lg mx-auto space-y-6 lg:space-y-0 lg:space-x-6">

  <div class="white-div bg-white shadow-lg p-4 rounded-lg w-full max-w-xs lg:w-80 flex flex-col items-center"
       *ngFor="let i of course" [ngStyle]="{'background-color': i.backColor, 'color' : i.textColor  }" >
    <h1 class="title text-xl font-semibold text-center py-4">{{i.title}}</h1>
    <h1 class="price text-3xl flex items-baseline justify-center">
      <p class="text-xl">$</p><span>{{i.price}}</span><p class="text-xl">/mo</p>
    </h1>
    <div class="concepts mt-4 text-center">
      <ul class="list-disc pl-4 text-left">
        <li class="text-sm py-2">{{i.sc1}}</li>
        <li class="text-sm py-2">{{i.sc2}}</li>
        <li class="text-sm py-2">{{i.sc3}}</li>
        <li class="text-sm py-2">{{i.sc4}}</li>
        <li class="text-sm py-2">{{i.sc5}}</li>
      </ul>
      <button class="buy-btn bg-blue-900 text-white rounded-lg py-2 px-6 mt-6 w-full" [ngStyle]="{'background-color': i.btnBackColor, 'color' : i.btnTextColor}" >Try Now</button>
    </div>
  </div>



</div>

<div class="footer bg-[#2E2E48] absolute bottom-0 w-full h-[100px] shadow-[rgba(0,_0,_0,_0.35)_0px_5px_15px] flex justify-center items-center text-white">
  <p class="text-center text-sm sm:text-base">
    &copy; 2024 Swiss Development Courses | All Rights Reserved. | Designed with Passion for Learning.
  </p>
</div>


